{% if deployments.count == 0 %}
  <div class="alert alert-warning">
    No tracked deployments available in the view.
  </div>
{% else %}
  <table class="table table-striped table-responsive-md border">
    <thead class="thead-light">
      <tr>
        <th scope="col">Stage</th>
        <th scope="col">Branch</th>
        <th scope="col">Commit Hash</th>
        <th scope="col">Deployer</th>
        <th scope="col">Time</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
      {% for deployment in deployments %}
        <tr>
          <td>
            <a class="text-dark" href="{{ path(route_name(), route_params(filters|merge({stage: deployment.stage}))) }}">
              {{ deployment.stage }}
            </a>
          </td>
          <td>
            {% if deployment.branch %}
              <a class="badge badge-info" href="{{ deployment.branchUrl }}" target="_blank">
                {{ deployment.branch }}
              </a>
            {% else %}
              -
            {% endif %}
          </td>
          <td>
            {% if deployment.commitHash %}
              <a class="text-dark" href="{{ deployment.commitUrl }}" target="_blank" title="{{ deployment.commitHash }}">
                {{ deployment.commitHash|slice(0, 12) }}
              </a>
            {% else %}
              -
            {% endif %}
          </td>
          <td>
            <a class="text-dark" href="{{ path(route_name(), route_params(filters|merge({deployer: deployment.deployer}))) }}">
              {{ deployment.deployer }}
            </a>
          </td>
          <td>
            <span title="{{ deployment.deployDate|date('Y-m-d H:i:s')}}">
              {{ deployment.deployDate|fuzzy_date }}
            </span>
          </td>
          <td>
            <a href="{{ path(route_name(), route_params(filters|merge({status: deployment.status}))) }}" title="{{ deployment.status }}">
              {% if deployment.success %}
                <span class="badge badge-success">{{ deployment.status }}</span>
              {% elseif deployment.failed %}
                <span class="badge badge-danger">{{ deployment.status }}</span>
              {% elseif deployment.rollback %}
                <span class="badge badge-warning">{{ deployment.status }}</span>
              {% else %}
                <span class="badge badge-secondary">unknown</span>
              {% endif %}
            </a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {% include 'fragment/pagination.html.twig' %}
{% endif %}
