{% if applications.count == 0 %}
  <div class="alert alert-warning">
    No tracked appkications available in the view.
  </div>
{% else %}
  <table class="table table-striped table-responsive-md border">
    <thead class="thead-light">
      <tr>
        <th scope="col">Application Name</th>
        <th scope="col">Project URL</th>
        <th scope="col" class="text-right">Deployments</th>
        <th scope="col" class="text-right">Successful</th>
        <th scope="col" class="text-right">Rollbacks</th>
        <th scope="col" class="text-right">Failed</th>
      </tr>
    </thead>
    <tbody>
      {% for application in applications %}
        <tr>
          <th scope="row">
            <a class="text-dark" href="{{ path('dashboard_application', { 'id': application.id }) }}">
              {{ application.name }}
            </a>
          </th>
          <td>
            <a class="text-dark" href="{{ application.projectUrl }}" target="_blank">
              {{ application.projectUrl }}
            </a>
          </td>
          <td class="text-right">
            <a class="text-dark" href="{{ path('dashboard_application', { 'id': application.id }) }}">
              {{ application.deployments.count }}
            </a>
          </td>
          <td class="text-right">
            <a class="text-success" href="{{ path('dashboard_application', { 'id': application.id }) }}">
              {{ application.successfulDeployments.count }}
            </a>
          </td>
          <td class="text-right">
            <a class="text-warning" href="{{ path('dashboard_application', { 'id': application.id }) }}">
              {{ application.rollbacks.count }}
            </a>
          </td>
          <td class="text-right">
            <a class="text-danger" href="{{ path('dashboard_application', { 'id': application.id }) }}">
              {{ application.failedDeployments.count }}
            </a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {% include 'fragment/pagination.html.twig' %}
{% endif %}
