{% extends 'base.html.twig' %}

{% block title %}Search results{% endblock %}

{% block body %}
  <p class="lead">
    <strong>{{ paginator.count }}</strong> Search results for &quot;<strong>{{ searchQuery }}</strong>&quot;

    {% for key, value in filters %}
      {% if loop.first %}with {% endif %}
        <a class="btn btn-secondary btn" href="{{ path(route_name(), route_params(filters|merge({q: searchQuery}), [key]))}}" title="Remove {{ key }} filter">
          <em>{{ key|capitalize }} <strong>&quot;{{ value }}&quot;</strong></em>
          <button type="button" class="close text-light ml-2" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </a>
      {% if not loop.last %} and {% endif %}
    {% endfor %}
  </p>

  {% if paginator.iterator.count == 0 %}
    <div class="alert alert-warning">
      No entries found for your query.
    </div>
  {% else %}
    <table class="table table-striped table-responsive-md border">
      <thead class="thead-light">
        <tr>
          <th scope="col">Application</th>
          <th scope="col">Stage</th>
          <th scope="col">Branch</th>
          <th scope="col">Commit Hash</th>
          <th scope="col">Deployer</th>
          <th scope="col">Time</th>
          <th scope="col">Status</th>
        </tr>
      </thead>
      <tbody>
        {% for result in paginator.iterator %}
          <tr>
            <th scope="row">
              <a class="text-dark" href="{{ path('dashboard_application', {id: result.application.id}) }}">
                {{ result.application.name|highlight(searchQuery) }}
              </a>
            </th>
            <td>
              <a class="text-dark" href="{{ path(route_name(), route_params(filters|merge({q: searchQuery, stage: result.stage}))) }}">
                {{ result.stage|highlight(searchQuery) }}
              </a>
            </td>
            <td>
              {% if result.branch %}
                <a class="badge badge-info" href="{{ result.branchUrl }}" target="_blank" rel="noopener noreferrer">
                  {{ result.branch|highlight(searchQuery) }}
                </a>
              {% else %}
                -
              {% endif %}
            </td>
            <td>
              {% if result.commitUrl %}
                <a class="text-dark" href="{{ result.commitUrl }}" target="_blank" rel="noopener noreferrer" title="{{ result.commitHash }}">
                  {{ result.commitHash|slice(0, 12)|highlight(searchQuery) }}
                </a>
              {% else %}
                -
              {% endif %}
            </td>
            <td>
              <a class="text-dark" href="{{ path(route_name(), route_params(filters|merge({q: searchQuery, deployer: result.deployer}))) }}">
                {{ result.deployer|highlight(searchQuery) }}
              </a>
            </td>
            <td>
              <span title="{{ result.deployDate|date('Y-m-d H:i:s')}}">
                {{ result.deployDate|fuzzy_date }}
              </span>
            </td>
            <td>
              <a href="{{ path(route_name(), route_params(filters|merge({q: searchQuery, status: result.status}))) }}" title="{{ result.status }}">
                {% if result.success %}
                  <span class="badge badge-success">{{ result.status }}</span>
                {% elseif result.failed %}
                  <span class="badge badge-danger">{{ result.status }}</span>
                {% elseif result.rollback %}
                  <span class="badge badge-warning">{{ result.status }}</span>
                {% else %}
                  <span class="badge badge-secondary">unknown</span>
                {% endif %}
              </a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% include 'fragment/pagination.html.twig' with {filters: filters|merge({q: searchQuery})} %}
  {% endif %}
{% endblock %}
