{% set route = app.request.get('_route') %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% block styles %}
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/octicons/4.4.0/font/octicons.css" integrity="sha256-4y5taf5SyiLyIqR9jL3AoJU216Rb8uBEDuUjBHO9tsQ=" crossorigin="anonymous" />
    {% endblock %}

    <title>DeployTracker - {% block title %}Index{% endblock %}</title>
  </head>
  <body>
    <header class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand mb-0 h1" href="{{ path('dashboard_index') }}">DeployTracker</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarToggler">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item{% if route == 'dashboard_recent' %} active{% endif %}">
            <a class="nav-link" href="{{ path('dashboard_recent') }}">Recent</a>
          </li>
          <li class="nav-item{% if route == 'dashboard_history' %} active{% endif %}">
            <a class="nav-link" href="{{ path('dashboard_history') }}">History</a>
          </li>
          <li class="nav-item dropdown{% if route == 'dashboard_application' or route == 'dashboard_applications' %} active{% endif %}">
            <a class="nav-link" href="{{ path('dashboard_applications') }}">Applications</a>
          </li>
          <li class="nav-item{% if route == 'dashboard_deployers' %} active{% endif %}">
            <a class="nav-link" href="{{ path('dashboard_deployers') }}">Deployers</a>
          </li>
        </ul>
        <span class="navbar-text">
          <a class="nav-link pr-4" href="https://github.com/martinohmann/deploy-tracker" target="_blank" rel="noopener noreferrer" title="Github Project">
            <i class="octicon octicon-mark-github"></i>
          </a>
        </span>
        <form id="search-form" class="form-inline my-2 my-lg-0" action="{{ path('search_index') }}">
            <input class="form-control mr-sm-2" type="search" name="q" placeholder="Search" {% if searchQuery is defined %}value="{{ searchQuery }}" {% endif %}aria-label="Search">
          <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button> </form>
      </div>
    </header>
    <div class="container-fluid mt-4">
      <div class="row">
        <div class="col">
          {% block body %}{% endblock %}
        </div>
      </div>
    </div>

    {% block scripts %}
      <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
      <script type="text/javascript">
        (function ($) {
          $('#search-form').submit(function (event) {
            var searchQuery = $(this).find('input[type="search"]').val().trim();
            if ('' === searchQuery) event.preventDefault();
          });
        })(jQuery);
      </script>
    {% endblock %}
  </body>
</html>
